@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@theme {
  --color-colorUno: #F2DBB4;
  --color-colorDos: #FFEEBC;
  --color-colorTres: #9D6C44;
  --color-cuartity: #ed9900;
  --color-quintity: #A48164;
  --color-default-text: #333333;
  --color-gray-primary: #bdbdbd;
  --color-gray-secondary: #e0e0e0;
  --color-white-primary: #ffffff;
  --color-white-secondary: #f5f5f5;
  --color-error: #cf2d2d;
  --color-success: #3e9b4b;

  --font-poppins: .poppins-regular;
  --font-poppins-light: .poppins-light;
  --font-poppins-medium: .poppins-medium;
  --font-poppins-semibold: .poppins-semibold;
  --font-poppins-bold: .poppins-bold;
  --font-cursive: "Playball", cursive;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #242424;
}
